


//--Colors--
$white-bis: #F6F9FC;
$purple: #501AF1;
$dark-purple: #4016BD;
$lite-green: #10C469;
$warning: #FBBC04;
$background: #FFFFFF; 

//--Themes--
$primary: $purple;
$secondary: $dark-purple;
$footer-background-color: 	$secondary;

